p{
    margin-block-end: 0;
    font-size: 10px;
    margin-left: 7%;
}
.caixaBT{
    width:100%;
    margin-top: 2%;
    text-align: center;
}
.caixa{
    width: 40%;
    margin: auto;
    margin-top: 3%;
}
input[type="text"],[type="password"],[type="number"]{
    font-size: 16px;
    width: 83%;
    padding-top: 5px;
    padding-bottom: 5px;
    /*margin:0.5%;*/
    margin-right: 10%;
    margin-left: 7%;
    border-radius: 10px;
    border:1px solid;
    border-color: #383838;
}
input[type="radio"]{
    margin-left: 7%;
}

input[type="submit"]{
    font-size: 18px;
    width: 40%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 30%;
    background-color: #1a73e8;
    color: white;
    border-style: groove;
    margin-bottom: 5%;
    border: 1px solid#1a73e8;
    border-radius: 10px;
}
input[type="submit"]:focus{
    outline: none;
}input[type="submit"]:active:hover {
    background:#104fa2 ;
    box-shadow: 0 1px 10px 0px #666666; 
}input[type="submit"]:active {
    background:#104fa2 ;
    box-shadow: 0 1px 10px 0px #666666; 
}
input[type="submit"]:hover{
    background:#1566d1 ;
    box-shadow: 0 1px 10px 0px #999999;
}
.oculto{
    display: none;
}

button{
    font-size: 20px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 30px;
    font-weight: 700;
    background-color:#ffffff;
    border: none;
    box-shadow: 0 0px 10px  #1a1a1a;
}
button:active:hover{
    box-shadow: 0 2px 10px 5px #8e968f;
}
button:hover{
    background-color: #e6e6e6;
}
button:focus{
    outline: none;
}
input[type="text"].outro{
    width:65%;
    margin-left: 0;
}.Erro{
    font-size: 13px;
    color: red;
}#pessoa, #sala, #adm{
    background-color: #f2f2f2;
    margin:0;
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 25px;

}p.tsala{
    font-size: 15px;
    font-weight: bold;
}
input:focus{
    outline: none;
}label{
    width: 83%;
}
input[type="radio"]#sele{
    width: 15px;
}