body{
    font-size: 14px;
}
p{
    margin-block-end: 0;
    font-size: 10px;
}
.caixaBT{
    width:100%;
    margin-top: 2%;
    text-align: center;
}
.caixa{
    width: 40%;
    margin: auto;
    margin-top: 3%;
}
input[type="text"],[type="password"],[type="number"]{
    font-size: 16px;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
}
input[type="submit"]{
    font-size: 18px;
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 25%;
    background-color: #66ccff;
}
.oculto{
    display: none;
}
fieldset{
    background-color: #f2f2f2
}
button{
    font-size: 20px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
}
button:active , button:focus{
    outline: none;
}
input[type="text"].outro{
    width:50%;
}.Erro{
    font-size: 13px;
    color: red;
}