body{
    font-size: 14px;
}
p{
    margin-block-end: 0;
    font-size: 10px;
    margin-left: 7%;
}
.caixaBT{
    width:100%;
    margin-top: 2%;
    text-align: center;
}
.caixa{
    width: 40%;
    margin: auto;
    margin-top: 3%;
}
input[type="text"],[type="password"],[type="number"]{
    font-size: 16px;
    width: 83%;
    padding-top: 5px;
    padding-bottom: 5px;
    /*margin:0.5%;*/
    margin-right: 10%;
    margin-left: 7%;
    border-radius: 6px;
    border:1px solid;
}
input[type="radio"]{
    margin-left: 7%;
}

input[type="submit"]{
    font-size: 18px;
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 25%;
    background-color: #1a73e8;
    border-style: groove;
    margin-bottom: 5%;
}
.oculto{
    display: none;
}

button{
    font-size: 20px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
}
button:active , button:focus{
    outline: none;
}
input[type="text"].outro{
    width:50%;
    margin-left: 0;
}.Erro{
    font-size: 13px;
    color: red;
}#pessoa, #sala, #adm{
    background-color: #f2f2f2;
    margin:0;
    padding: 2%;
    border: 1px solid;
    border-radius: 50px;

}p.tsala{
    font-size: 15px;
    font-weight: bold;
}
