html,body{
    overflow-x:hidden;
}

body{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-image: url("../IMG/papelParede3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100% cover;
}

h2.titulo{
    width: 250px;
    padding-left: 30px;
    float:left;
    height: 28px;
}
a.paginas{
    margin-top: 19.920px;
    margin-bottom: 19.920px;
    padding-right: 16px;
    text-decoration: none;
    color: white;
    float:right;
    font-size: 1.3em;
}
a.paginas:active{color:crimson;
}
nav{
    width: 100%;
    color: white;
    background-color: purple;
    height: 68px;
    }
main{width: 100%;
    
}
table{width: 50%;
    margin: auto;
    padding-left: 0;
    word-wrap:break-word;
}tr{
    width: 100%;
}
table,tr,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 100%;
    text-align: center;
}
th{
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}
button.btRecarregar{
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 1%;
    margin-bottom: 2%;
    width: 20%;
    min-width: 125px;
    height: 40px;
    font-size: 1.25em;
    border-radius: 30px;
    /*padding-top: 5px;
    padding-bottom: 5px;*/
    font-weight: 700;
    background-color:#f2f2f2;
    box-shadow: 0 0px 10px  #4e4e4e;
    border:none;
    /*border: 1px solid #0d0d0d;
    border-right:4px solid #0d0d0d;
    border-bottom:3px solid #0d0d0d;
    
    border-bottom:3px solid #bfbfbf;
    border-right:3px solid #bfbfbf;*/
}.btRecarregar:active.btRecarregar:hover{
    box-shadow: 0 1px 10px 4px #8e9695;
   /* border: 1px solid #0d0d0d;
    border-top:3px solid #0d0d0d;
    border-left:4px solid #0d0d0d;
    border-left:3px solid #bfbfbf;
    border-top:3px solid #bfbfbf;*/
}
button.btRecarregar:hover{
    background-color: #fafaef;
    /*border-right: 3px solid #a6a6a6;
    border-bottom: 3px solid #a6a6a6;
    border-left: 3px solid #bfbfbf;
    border-top: 3px solid#bfbfbf;*/
}button.btRecarregar:focus{
    outline: none;
}
.btTabela{
    height: 38px;
    margin: 0;
    width: 100%;
    border:0;
    border-bottom: 3px solid #bfbfbf;
    border-right:3px solid #bfbfbf;
    text-transform: uppercase;
    /*font-weight: 700;*/
    font-size: 0.80em;
    cursor: pointer;
    background-color:#f2f2f2
    
}.btTabela:focus{
    outline: none;
}
.btTabela:active.btTabela:hover{
    border:0;
    border-left: 2px solid #a6a6a6;
    border-top: 2px solid #a6a6a6;

}
.btTabela:hover{
    background-color: #e6e6e6;
    border-right: 3px solid #a6a6a6;
    border-bottom: 3px solid #a6a6a6;
}.links{
    position: absolute;
    right: 0;
    top:68px;
    text-align: center;
    width: 130px;
    background-color: rgba(155, 155, 155,0.9);
    display: block;
}
a.preto{
    position: relative;
    color: black; 
    width: 100%;
    padding-right: 0;
    margin-top: 15px;
    margin-bottom:15px;
}
ul{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
}hr{
    margin-block-start: 0;
    margin-block-end: 0;
}