body{margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-image: url("../IMG/papelParede3.jpg");
    background-repeat: no-repeat;
    background-size: cover;}
nav{height: auto;
    width: 100%;
    color: white;
    background-color: purple;
    float: left;
    height: 68px;}
h2.titulo{
    width: 250px;
    padding-left: 30px;
    float:left;
    height: 28px;
}
a.paginas{
    margin-top: 19.920px;
    margin-bottom: 19.920px;
    padding-right: 16px;
    text-decoration: none;
    color: white;
    float:right;
    font-size: 1.3em;
}
a.paginas:active{color:crimson;
}
main{width: 100%;
    float: left;
}
table{margin: auto;
    margin-top: 1%;
}
table,tr,th,td{
    padding:0px 20px 0px 20px;
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 1.04em;
    text-align: center;
}
th{
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}
button.btRecarregar{
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 1%;
    width: 20%;
    height: 40px;
    font-size: 1.25em;
    border-radius: 30px;
    /*padding-top: 5px;
    padding-bottom: 5px;*/
    font-weight: 700;
    background-color:#f2f2f2;
    box-shadow: 0 0px 10px  #4e4e4e;
    border:none;
    /*border: 1px solid #0d0d0d;
    border-right:4px solid #0d0d0d;
    border-bottom:3px solid #0d0d0d;
    
    border-bottom:3px solid #bfbfbf;
    border-right:3px solid #bfbfbf;*/
}.btRecarregar:active.btRecarregar:hover{
    box-shadow: 0 1px 10px 4px #8e9695;
   /* border: 1px solid #0d0d0d;
    border-top:3px solid #0d0d0d;
    border-left:4px solid #0d0d0d;
    border-left:3px solid #bfbfbf;
    border-top:3px solid #bfbfbf;*/
}
button.btRecarregar:hover{
    background-color: #fafaef;
    /*border-right: 3px solid #a6a6a6;
    border-bottom: 3px solid #a6a6a6;
    border-left: 3px solid #bfbfbf;
    border-top: 3px solid#bfbfbf;*/
}button.btRecarregar:focus{
    outline: none;
}
.btTabela{
    height: 30px;
    margin: 0;
    width: 100%;
    border:0;
    border-bottom: 3px solid #bfbfbf;
    border-right:3px solid #bfbfbf;
    text-transform: uppercase;
    /*font-weight: 700;*/
    font-size: 0.80em;
    cursor: pointer;
    background-color:#f2f2f2
    
}.btTabela:focus{
    outline: none;
}
.btTabela:active.btTabela:hover{
    position: relative;
    border:0;
    border-left: 3px solid #a6a6a6;
    border-top: 3px solid #a6a6a6;

}
.btTabela:hover{
    background-color: #e6e6e6;
    border-right: 3px solid #a6a6a6;
    border-bottom: 3px solid #a6a6a6;
}